################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Leisure_Kitchen/.vs/Leisure_Kitchen
/Leisure_Kitchen/debug
/Leisure_Kitchen/release
*.user
*.sln
*.vcxproj
*.filters
Makefile*
ui_*.h
/Leisure_Kitchen/.qmake.stash
.DS_Store
/build-*
Leisure_Kitchen/.qtc_clangd
/LS
Leisure_Kitchen.exe